main {
    max-width:1200px;
     text-align: center;
     margin: auto;
     background-color: lightblue;
}
section div img{
    width: 600px;
    
}
section{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:3px;
    
}

article {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:10px;
}
article div img{
    width: 70%;
/*    height: 10%;*/
}